// update.pug
doctype html

html
  head
    // Título vem do index.js
    title= title

  body
    h1 Criar novo registro

    // Formulário envia dados via POST para /update-cobj
    form(action="/update-cobj" method="POST")

      // ***SUBSTITUIR COM AS PROPRIEDADES QUE VOCÊ CRIOU***
      // NÃO ESQUEÇA DE MUDAR O TYPE!!
      // Campo "name"
      label Name:
      input(type="text" name="nome_do_animal" required)
      br

      // Campo "specie"
      label Specie:
      input(type="text" name="specie" required)
      br

      // Campo "age"
      label Age:
      input(type="number" name="age" required)
      br

      // Botão de envio
      button(type="submit") Criar registro

    // Link para voltar à homepage
    a(href="/") Return to the homepage